

#intro {
  background-color: rgba(10, 10, 51, 0.9);
  color: rgb(117, 189, 150);
  height: 500px;
}

div {
      height: 200px;
      width: 800px;
      border-style: ridge;
      border-width: 3px;
      border-color:rgb(117, 189, 150);
      margin: 10px;
      top: 10px;


}

h5 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 30px;
}

h3 .name {
  font-family: 'Alfa Slab One', cursive;
  font-size: 50px;

}

#phrase {

}